- name: Get the name of the service instance
  shell: oc get serviceinstance --namespace={{ namespace }} -o jsonpath='{.items[?(@.spec.externalID=="{{ _apb_service_instance_id }}")].metadata.name}'
  when: _apb_service_instance_id is defined
  register: service_instance_name

- name: Label the service instance with the service name
  shell: oc label serviceinstance '{{ service_instance_name.stdout }}' serviceName=metrics --namespace={{ namespace }}
  when: _apb_service_instance_id is defined

- name: Give default user view permissions
  shell: 'oc policy add-role-to-user view system:serviceaccount:{{ namespace }}:{{ proxy_serviceaccount_name }} -n {{ namespace }}'

- name: "Create OAuth Proxy Serviceaccount yaml"
  template:
    src: oauth-proxy-sa.yml.j2
    dest: /tmp/oauth-proxy-sa.yaml

- name: "Create OAuth Proxy Serviceaccount"
  shell: "oc create -f /tmp/oauth-proxy-sa.yaml -n {{ namespace }}"

- include_tasks: provision-prometheus.yml 
- include_tasks: provision-grafana.yml

- include_tasks: provision-app-metrics.yml
  when:
    - POSTGRESQL_EPHEMERAL is undefined or
      not POSTGRESQL_EPHEMERAL

- include_tasks: provision-app-metrics-ephemeral.yml
  when:
    - POSTGRESQL_EPHEMERAL is defined or
      POSTGRESQL_EPHEMERAL