- name: Get the name of the service instance
  shell: oc get serviceinstance --namespace={{ namespace }} -o jsonpath='{.items[?(@.spec.externalID=="{{ _apb_service_instance_id }}")].metadata.name}'
  when: _apb_service_instance_id is defined
  register: service_instance_name

- name: Label the service instance with the service name
  shell: oc label serviceinstance '{{ service_instance_name.stdout }}' serviceName=metrics --namespace={{ namespace }}
  when: _apb_service_instance_id is defined

- name: Create Prometheus config from template
  template:
    src: prometheus-config-map.yml.j2
    dest: /tmp/prometheus.yml

- name: Create config-map from Prometheus config
  shell: oc create configmap '{{ prometheus_configmap_name }}' --from-file=/tmp/prometheus.yml -n '{{ namespace }}'

- name: Give default user view permissions
  shell: 'oc policy add-role-to-user view system:serviceaccount:{{ namespace }}:{{ proxy_serviceaccount_name }} -n {{ namespace }}'

- name: Create Grafana config from template
  template:
    src: grafana-config-map.ini.j2
    dest: /tmp/grafana.ini

- name: Create Grafana datasource config from template
  template:
    src: grafana-data-sources.yml.j2
    dest: /tmp/datasources.yml

- name: Create config-map from Grafana ini config
  shell: oc create configmap '{{ grafana_ini_configmap_name }}' --from-file=grafana.ini=/tmp/grafana.ini -n '{{ namespace }}'

- name: Create config-map from datasources config
  shell: oc create configmap '{{ grafana_datasources_configmap_name }}' --from-file=datasources.yml=/tmp/datasources.yml -n '{{ namespace }}'

- name: Create config-map from dashboards provider config
  shell: oc create configmap '{{ grafana_dashboards_providers_configmap_name }}' --from-file=provider.yml={{ role_path }}/files/grafana-dashboards-provider.yml -n '{{ namespace }}'

- name: Create config-map from dashboards config
  shell: >
    oc create configmap '{{ grafana_dashboards_configmap_name }}' \
      --from-file=grafana-primary-dashboard.json={{ role_path }}/files/grafana-primary-dashboard.json \
      -n '{{ namespace }}'

- name: Prometheus PVC
  k8s_v1_persistent_volume_claim:
    name: '{{ prometheus_claim_name }}'
    namespace: "{{ namespace }}"
    labels:
      app: prometheus
      service: prometheus
    access_modes:
      - ReadWriteOnce
    resources_requests:
      storage: "{{ PROMETHEUS_STORAGE_SIZE }}Gi"
    state: present

- name: Grafana PVC
  k8s_v1_persistent_volume_claim:
    name: '{{ grafana_claim_name }}'
    namespace: "{{ namespace }}"
    labels:
      app: grafana
      service: prometheus
    access_modes:
      - ReadWriteMany
    resources_requests:
      storage: "{{ GRAFANA_STORAGE_SIZE }}Gi"
    state: present

- name: "Create OAuth Proxy Serviceaccount yaml"
  template:
    src: oauth-proxy-sa.yml.j2
    dest: /tmp/oauth-proxy-sa.yaml

- name: "Create OAuth Proxy Serviceaccount"
  shell: "oc create -f /tmp/oauth-proxy-sa.yaml -n {{ namespace }}"

- name: create prometheus deployment config
  openshift_v1_deployment_config:
    name: prometheus
    namespace: '{{ namespace }}'
    labels:
      app: prometheus
      service: prometheus
    replicas: 1
    selector:
      app: prometheus
      service: prometheus
    spec_template_metadata_labels:
      app: prometheus
      service: prometheus
    spec_template_spec_service_account_name: '{{ proxy_serviceaccount_name }}'
    containers:
    - name: prometheus-oauth-proxy
      image: '{{ proxy_image }}:{{ proxy_version }}'
      imagePullPolicy: IfNotPresent
      ports:
      - containerPort: '{{ prometheus_proxy_port }}'
        name: public
      args:
      - --provider=openshift
      - --openshift-service-account={{ proxy_serviceaccount_name }}
      - --upstream=http://localhost:{{ prometheus_port }}
      - >-
        --openshift-sar={"namespace":"{{ namespace }}","resource":"deploymentconfigs","name":"prometheus","verb":"update"}
      - --http-address=0.0.0.0:{{ prometheus_proxy_port }}
      - --https-address=
      - --cookie-secret=SECRET
    - env:
      image: '{{ prometheus_image }}:{{ prometheus_version }}'
      name: prometheus
      ports:
      - container_port: '{{ prometheus_port }}'
        protocol: TCP
      volume_mounts:
        - mount_path: /etc/prometheus
          name: '{{ prometheus_configmap_volume_name }}'
        - mount_path: /prometheus
          name: prometheus-volume-1
    volumes:
      - name: '{{ prometheus_configmap_volume_name }}'
        config_map:
          defaultMode: 420
          name: '{{ prometheus_configmap_name }}'
      - name: prometheus-volume-1
        persistent_volume_claim:
          claim_name: '{{ prometheus_claim_name}}'

- name: create grafana deployment config
  openshift_v1_deployment_config:
    name: grafana
    namespace: '{{ namespace }}'
    labels:
      app: grafana
      service: prometheus
    replicas: 1
    selector:
      app: grafana
      service: prometheus
    spec_template_metadata_labels:
      app: grafana
      service: prometheus
    spec_template_spec_service_account_name: '{{ proxy_serviceaccount_name }}'
    containers:
    - name: grafana-oauth-proxy
      image: '{{ proxy_image }}:{{ proxy_version }}'
      imagePullPolicy: IfNotPresent
      ports:
      - containerPort: '{{ grafana_proxy_port }}'
        name: public
      args:
      - --provider=openshift
      - --openshift-service-account={{ proxy_serviceaccount_name }}
      - --upstream=http://localhost:{{ grafana_port }}
      - >-
        --openshift-sar={"namespace":"{{ namespace }}","resource":"deploymentconfigs","name":"prometheus","verb":"update"}
      - --http-address=0.0.0.0:{{ grafana_proxy_port }}
      - --https-address=
      - --cookie-secret=SECRET
    - name: grafana
      image: '{{ grafana_image }}:{{ grafana_version }}'
      ports:
      - container_port: '{{ grafana_port }}'
        protocol: TCP
      volume_mounts:
        - mount_path: /etc/grafana
          name: '{{ grafana_ini_configmap_volume_name }}'
        - mount_path: /etc/grafana/conf/provisioning/datasources
          name: '{{ grafana_datasources_configmap_volume_name }}'
        - mount_path: /etc/grafana/conf/provisioning/dashboards
          name: '{{ grafana_dashboards_providers_configmap_volume_name }}'
        - mount_path: /etc/grafana-dashboards
          name: '{{ grafana_dashboards_configmap_volume_name }}'
        - mount_path: /var/lib/grafana
          name: grafana-data
        - mount_path: /var/log/grafana
          name: grafana-log
    volumes:
      - name: '{{ grafana_ini_configmap_volume_name }}'
        config_map:
          defaultMode: 420
          name: '{{ grafana_ini_configmap_name }}'
      - name: '{{ grafana_datasources_configmap_volume_name }}'
        config_map:
          defaultMode: 420
          name: '{{ grafana_datasources_configmap_name }}'
      - name: '{{ grafana_dashboards_configmap_volume_name }}'
        config_map:
          defaultMode: 420
          name: '{{ grafana_dashboards_configmap_name }}'
      - name: '{{ grafana_dashboards_providers_configmap_volume_name }}'
        config_map:
          defaultMode: 420
          name: '{{ grafana_dashboards_providers_configmap_name }}'
      - name: grafana-data
        persistent_volume_claim:
          claim_name: '{{ grafana_claim_name }}'
      - name: grafana-log
        empty_dir:

- name: create prometheus service
  k8s_v1_service:
    name: '{{ prometheus_service_name }}'
    namespace: '{{ namespace }}'
    labels:
      app: prometheus
      service: prometheus
    selector:
      app: prometheus
      service: prometheus
    ports:
      - name: web
        port: 443
        target_port: '{{ prometheus_proxy_port }}'

- name: create internal prometheus service
  k8s_v1_service:
    name: '{{ prometheus_internal_service_name }}'
    namespace: '{{ namespace }}'
    labels:
      app: prometheus
      service: prometheus
    selector:
      app: prometheus
      service: prometheus
    ports:
      - name: web
        port: 80
        target_port: '{{ prometheus_port }}'

- name: create grafana service
  k8s_v1_service:
    name: '{{ grafana_service_name }}'
    namespace: '{{ namespace }}'
    labels:
      app: grafana
      service: prometheus
    selector:
      app: grafana
      service: prometheus
    ports:
      - name: web
        port: 443
        target_port: '{{ grafana_proxy_port }}'

- name: create internal grafana service
  k8s_v1_service:
    name: '{{ grafana_internal_service_name }}'
    namespace: '{{ namespace }}'
    labels:
      app: grafana
      service: prometheus
    selector:
      app: grafana
      service: prometheus
    ports:
      - name: web
        port: 80
        target_port: '{{ grafana_port }}'

- name: create grafana route
  openshift_v1_route:
    name: '{{ grafana_route_name }}'
    namespace: '{{ namespace }}'
    labels:
      app: grafana
      service: prometheus
    to_name: grafana
    spec_port_target_port: web
    spec_tls_termination: edge
  register: grafana_route

- name: create prometheus route
  openshift_v1_route:
    name: '{{ prometheus_route_name }}'
    namespace: '{{ namespace }}'
    labels:
      app: prometheus
      service: prometheus
    to_name: prometheus
    spec_port_target_port: web
    spec_tls_termination: edge
  register: prometheus_route

- name: "Create prometheus secret yaml file"
  template:
    src: secret.yml.j2
    dest: /tmp/secret.yaml

- name: "Create prometheus secret"
  shell: "oc create -f /tmp/secret.yaml -n {{ namespace }}"

# Check the containers in the grafana pod and make sure they are all ready
- name: "Wait for all grafana containers to become ready"
  shell: oc get pods --namespace={{ namespace }} --selector="deploymentconfig=grafana" -o jsonpath='{.items[*].status.containerStatuses[?(@.ready==true)].ready}'| wc -w
  register: grafana_result
  until: grafana_result.stdout.find("2") != -1
  retries: 30
  delay: 5

# Check the containers in the prometheus pod and make sure they are all ready
- name: "Wait for all prometheus containers to become ready"
  shell: oc get pods --namespace={{ namespace }} --selector="deploymentconfig=prometheus" -o jsonpath='{.items[*].status.containerStatuses[?(@.ready==true)].ready}'| wc -w
  register: prometheus_result
  until: prometheus_result.stdout.find("2") != -1
  retries: 30
  delay: 5
