- name: Postgresql PVC
  k8s_v1_persistent_volume_claim:
    name: "{{ postgres_claim_name}}"
    namespace: "{{ namespace }}"
    labels:
      app: metrics
      service: aerogear-app-metrics
    access_modes: [ReadWriteOnce, ReadWriteMany]
    resources_requests:
      storage: '{{ POSTGRES_STORAGE_SIZE }}Gi'
    state: present

- name: create postgres deployment config
  openshift_v1_deployment_config:
    name: '{{ postgres_service_name }}'
    namespace: '{{ namespace }}'
    labels:
      app: metrics
      service: aerogear-app-metrics
    replicas: 1
    selector:
      app: postgres
      service: aerogear-app-metrics
    spec_template_metadata_labels:
      app: postgres
      service: aerogear-app-metrics
    containers:
    - name: postgresql
      image: "{{ postgres_image }}:{{ postgres_version }}"
      imagePullPolicy: IfNotPresent
      ports:
        - container_port: "{{ postgres_port }}"
      env:
      - name: POSTGRESQL_PASSWORD
        value: "{{ postgres_password }}"
      - name: POSTGRESQL_USER
        value: "{{ postgres_user }}"
      - name: POSTGRESQL_DATABASE
        value: "{{ postgres_database }}"
      volumeMounts:
        - mountPath: /var/lib/pgsql/data
          name: "{{ postgres_claim_name}}"
    volumes:
      - name: "{{ postgres_claim_name}}"
        persistentVolumeClaim:
          claimName: "{{ postgres_claim_name}}"

- name: Create db internal service
  k8s_v1_service:
    name: '{{ postgres_service_name }}'
    namespace: '{{ namespace }}'
    labels:
      app: metrics
      service: aerogear-app-metrics
    selector:
      app: postgres
      service: aerogear-app-metrics
    ports:
      - name: postgres
        port: "{{ postgres_port }}"
        target_port: "{{ postgres_port }}"

- name: Create api server deployment config
  openshift_v1_deployment_config:
    name: aerogear-app-metrics
    namespace: '{{ namespace }}'
    labels:
      app: metrics
      service: aerogear-app-metrics
    replicas: 1
    selector:
      app: aerogear-app-metrics
      service: aerogear-app-metrics
    spec_template_metadata_labels:
      app: aerogear-app-metrics
      service: aerogear-app-metrics
    containers:
    - name: aerogear-app-metrics
      image: '{{ api_server_image }}:{{ api_server_version }}'
      imagePullPolicy: IfNotPresent
      readinessProbe:
        httpGet:
          path: /healthz
          port: "{{ api_server_port }}"
        initialDelaySeconds: 15
        timeoutSeconds: 1
      env:
      - name: PGHOST
        value: '{{ postgres_service_name }}'
      - name: PGPASSWORD
        value: "{{ postgres_password}}"
      - name: PGUSER
        value: "{{ postgres_user}}"
      - name: PGDATABASE
        value: "{{ postgres_database }}"

- name: Create api server service
  k8s_v1_service:
    name: aerogear-app-metrics
    namespace: '{{ namespace }}'
    labels:
      app: metrics
      service: aerogear-app-metrics
    selector:
      app: aerogear-app-metrics
      service: aerogear-app-metrics
    ports:
      - name: web
        port: 443
        target_port: '{{ api_server_port }}'

- name: Create api server https route
  openshift_v1_route:
    annotations:
      console.alpha.openshift.io/overview-app-route: 'true'
    name: aerogear-app-metrics
    namespace: '{{ namespace }}'
    labels:
      app: metrics
      service: aerogear-app-metrics
    to_name: aerogear-app-metrics
    spec_port_target_port: web
    tls_termination: edge
    tls_insecure_edge_termination_policy: Redirect
  register: app_metrics_route

# Create the configmap used for the client config
- name: Create metrics configmap template
  template:
    src: configmap.yml.j2
    dest: /tmp/configmap.yaml
  when: _apb_service_instance_id is defined

- name: Create metrics test configmap template
  template:
    src: configmap_test.yml.j2
    dest: /tmp/configmap.yaml
  when: _apb_service_instance_id is not defined

- name: Create metrics public client config map
  shell: oc create -f /tmp/configmap.yaml -n {{ namespace }}

- name: delete configmap template file
  file: path=/tmp/configmap.yaml state=absent

# Check the containers in the aerogear-app-metrics pod and make sure they are all ready
- name: "Wait for all aerogear-app-metrics containers to become ready"
  shell: oc get pods --namespace={{ namespace }} --selector="deploymentconfig=aerogear-app-metrics" -o jsonpath='{.items[*].status.containerStatuses[?(@.ready==true)].ready}'| wc -w
  register: aerogear_app_metrics_result
  until: aerogear_app_metrics_result.stdout.find("1") != -1
  retries: 30
  delay: 10

  # Check the containers in the postgres pod and make sure they are all ready
- name: "Wait for all postgres containers to become ready"
  shell: oc get pods --namespace={{ namespace }} --selector="deploymentconfig={{ postgres_service_name }}" -o jsonpath='{.items[*].status.containerStatuses[?(@.ready==true)].ready}'| wc -w
  register: postgres_result
  until: postgres_result.stdout.find("1") != -1
  retries: 30
  delay: 10

- name: Wait for app-metrics health endpoint to report healthy
  uri:
    url: https://{{ app_metrics_route.route.spec.host }}/healthz
    validate_certs: no
    status_code: 200
  register: app_metrics_health
  until: app_metrics_health.status == 200
  retries: 30
  delay: 10
