- name: Create Prometheus config from template
  template:
    src: prometheus-config-map.yml.j2
    dest: /tmp/prometheus.yml

- name: Create config-map from Prometheus config
  shell: oc create configmap '{{ prometheus_configmap_name }}' --from-file=/tmp/prometheus.yml -n '{{ namespace }}'

- name: Give default user view permissions
  shell: 'oc policy add-role-to-user view system:serviceaccount:{{ namespace }}:{{ proxy_serviceaccount_name }} -n {{ namespace }}'

- name: Create Grafana config from template
  template:
    src: grafana-config-map.ini.j2
    dest: /tmp/grafana.ini

- name: Create Grafana datasource config from template
  template:
    src: grafana-data-sources.yml.j2
    dest: /tmp/datasources.yml

- name: Create config-map from Grafana ini config
  shell: oc create configmap '{{ grafana_ini_configmap_name }}' --from-file=grafana.ini=/tmp/grafana.ini -n '{{ namespace }}'

- name: Create config-map from datasources config
  shell: oc create configmap '{{ grafana_datasources_configmap_name }}' --from-file=datasources.yml=/tmp/datasources.yml -n '{{ namespace }}'

- name: create prometheus and grafana deployment config
  openshift_v1_deployment_config:
    name: prometheus
    namespace: '{{ namespace }}'
    labels:
      app: prometheus
      service: prometheus
    replicas: 1
    selector:
      app: prometheus
      service: prometheus
    spec_template_metadata_labels:
      app: prometheus
      service: prometheus
    spec_template_spec_service_account_name: '{{ proxy_serviceaccount_name }}'
    containers:
    - name: prometheus-oauth-proxy
      image: '{{ proxy_image }}:{{ proxy_version }}'
      imagePullPolicy: IfNotPresent
      ports:
      - containerPort: '{{ prometheus_proxy_port }}'
        name: public
      args:
      - --provider=openshift
      - --openshift-service-account={{ proxy_serviceaccount_name }}
      - --upstream=http://localhost:{{ prometheus_port }}
      - >-
        --openshift-sar={"namespace":"{{ namespace }}","resource":"deploymentconfigs","name":"prometheus","verb":"update"}
      - --http-address=0.0.0.0:{{ prometheus_proxy_port }}
      - --https-address=
      - --cookie-secret=SECRET
    - env:
      image: '{{ prometheus_image }}:{{ prometheus_version }}'
      name: prometheus
      ports:
      - container_port: '{{ prometheus_port }}'
        protocol: TCP
      volume_mounts:
        - mount_path: /etc/prometheus
          name: '{{ prometheus_configmap_volume_name }}'
        - mount_path: /prometheus
          name: prometheus-volume-1
    - name: grafana-oauth-proxy
      image: '{{ proxy_image }}:{{ proxy_version }}'
      imagePullPolicy: IfNotPresent
      ports:
      - containerPort: '{{ grafana_proxy_port }}'
        name: public
      args:
      - --provider=openshift
      - --openshift-service-account={{ proxy_serviceaccount_name }}
      - --upstream=http://localhost:{{ grafana_port }}
      - >-
        --openshift-sar={"namespace":"{{ namespace }}","resource":"deploymentconfigs","name":"prometheus","verb":"update"}
      - --http-address=0.0.0.0:{{ grafana_proxy_port }}
      - --https-address=
      - --cookie-secret=SECRET
    - env:
      image: '{{ grafana_image }}:{{ grafana_version }}'
      command:
        - /usr/sbin/grafana-server
      args:
        - '--homepath=/usr/share/grafana'
        - '--config=/etc/grafana/grafana.ini'
      name: grafana
      ports:
      - container_port: '{{ grafana_port }}'
        protocol: TCP
      volume_mounts:
        - mount_path: /etc/grafana
          name: '{{ grafana_ini_configmap_volume_name }}'
        - mount_path: /etc/grafana-datasources
          name: '{{ grafana_datasources_configmap_volume_name }}'
        - mount_path: /var/lib/grafana
          name: grafana-data
        - mount_path: /var/log/grafana
          name: grafana-log
    volumes:
      - name: '{{ grafana_ini_configmap_volume_name }}'
        config_map:
          defaultMode: 420
          name: '{{ grafana_ini_configmap_name }}'
      - name: '{{ grafana_datasources_configmap_volume_name }}'
        config_map:
          defaultMode: 420
          name: '{{ grafana_datasources_configmap_name }}'
      - name: grafana-data
        empty_dir: 
      - name: grafana-log
        empty_dir: 
      - name: '{{ prometheus_configmap_volume_name }}'
        config_map:
          defaultMode: 420
          name: '{{ prometheus_configmap_name }}'
      - name: prometheus-volume-1
        empty_dir: 

- name: create prometheus service
  k8s_v1_service:
    name: prometheus
    namespace: '{{ namespace }}'
    labels:
      app: prometheus
      service: prometheus
    selector:
      app: prometheus
      service: prometheus
    ports:
      - name: web
        port: 443
        target_port: '{{ prometheus_proxy_port }}'

- name: create grafana service
  k8s_v1_service:
    name: grafana
    namespace: '{{ namespace }}'
    labels:
      app: prometheus
      service: prometheus
    selector:
      app: prometheus
      service: prometheus
    ports:
      - name: web
        port: 443
        target_port: '{{ grafana_proxy_port }}'

- name: create grafana route
  openshift_v1_route:
    name: grafana
    namespace: '{{ namespace }}'
    labels:
      app: prometheus
      service: prometheus
    to_name: grafana
    spec_port_target_port: web
    spec_tls_termination: edge

- name: create prometheus route
  openshift_v1_route:
    name: prometheus
    namespace: '{{ namespace }}'
    labels:
      app: prometheus
      service: prometheus
    to_name: prometheus
    spec_port_target_port: web
    spec_tls_termination: edge
  
- name: "Retrieve route to grafana"
  shell: "oc get routes grafana -n {{ namespace }} | grep -v NAME | awk '{print $2}'"
  register: grafana_route

- name: "Retrieve route to prometheus"
  shell: "oc get routes prometheus -n {{ namespace }} | grep -v NAME | awk '{print $2}'"
  register: prometheus_route

- name: "Create prometheus secret yaml file"
  template:
    src: secret.yml.j2
    dest: /tmp/secret.yaml

- name: "Create prometheus secret"
  shell: "oc create -f /tmp/secret.yaml -n {{ namespace }}"

- name: "Create OAuth Proxy Serviceaccount yaml"
  template:
    src: oauth-proxy-sa.yml.j2
    dest: /tmp/oauth-proxy-sa.yaml

- name: "Create OAuth Proxy Serviceaccount"
  shell: "oc create -f /tmp/oauth-proxy-sa.yaml -n {{ namespace }}"
