apiVersion: v1
kind: ConfigMap
metadata:
  name: metrics
  namespace: {{ namespace }}
  labels:
    mobile: enabled
    serviceName: metrics
data:
  id: metrics
  type: metrics
  name: metrics
  uri: https://{{ app_metrics_route.route.spec.host }}/metrics